header {
    height: 30px;
    background-color: #40434E;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFA;
}

body{
    background-color: #080705;
    color: #FFFFFA;
}

#highScoreButton{
    background-color:#E98A15 ;
    color: #080705;
}
#startButton{
    background-color:#E98A15 ;
    color: #080705;
}

#score {
    float:left;
}

#timer {
    float: right;
}

#A{
    background-color: #702632;
    color:   #FFFFFA;

}
#B{
    background-color: #912F40;
    color:   #FFFFFA;
}
#C{
    background-color: #702632;
    color:   #FFFFFA;
}
#D{
    background-color:#912F40;
    color:   #FFFFFA;
}
#question{
    background-color: #FFFFFA;
    color:   #28587b;

}