header {
    height: 30px;
    background-color: #E98A15;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    background-color: #9FB798;
}

#A{
    background-color: #28587b;
    color:  #E98A15;

}
#B{
    background-color: #5da9e9;
    color:  #E98A15
}
#C{
    background-color: #28587b;
    color:  #E98A15
}
#D{
    background-color:#5da9e9;
    color:  #E98A15;
}
#question{
    background-color:#A28497;
    color:  #E98A15;

}